@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?kurjuv');
    src:    url('../fonts/icomoon.eot?kurjuv#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?kurjuv') format('truetype'),
        url('../fonts/icomoon.woff?kurjuv') format('woff'),
        url('../fonts/icomoon.svg?kurjuv#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-notebook:before {
    content: "\e00a";
}
.icon-genius:before {
    content: "\e046";
}
.icon-chat:before {
    content: "\e049";
}
.icon-alarmclock:before {
    content: "\e059";
}
.icon-like:before {
    content: "\e900";
}
.icon-note:before {
    content: "\e901";
}
.icon-clock:before {
    content: "\e902";
}
.icon-lab:before {
    content: "\e903";
}
.icon-file-settings:before {
    content: "\e904";
}
.icon-users:before {
    content: "\e905";
}
.icon-stopwatch:before {
    content: "\e906";
}
.icon-atom:before {
    content: "\e907";
}

