//--------------------------------------------------------------
// Content
//--------------------------------------------------------------


.code-snippet {
	background-color: #000;
	border-radius: 5px;
	color: $color-code;
	padding: 10px;

	p {
		margin: 0;
	}
}