//--------------------------------------------------------------
// Content
//--------------------------------------------------------------


.code-snippet {
	background-color: #000;
	border-radius: 5px;
	color: $color-code;
}