//--------------------------------------------------------------
// Global Nav
//--------------------------------------------------------------


header {
	position: fixed;
	background-color: $white;
	width: 100%;
	padding: 5px 0;
	-webkit-box-shadow: 0px 2px 20px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 20px -10px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 20px -10px rgba(0,0,0,0.75);
	z-index: 1;

	.site-logo {
		@include span (3 of 12);
		@include clearfix;

		img {
			padding-top: 3px;
		}
	}

	.site-nav {
		@include span (last 6);
	}

	ul {
	    display: block;
	    text-align: justify;
	    padding: 0;
	    margin: 0;
	    line-height: 1;
	    height: 36px;

	    &:after {
	        display: inline-block;
	        width: 100%;
	        content: '.';
	        visibility: hidden;
	    }

	    li {
	        display: inline-block;
	        width: auto;
	        margin: 0;
	        position: relative;
	        top: 0;

	        a {
	            display: block;
	            text-decoration: none;
	            color: $black;
	            font-family: $font-secondary;
	            padding: 10px;

	            &:hover {
	            	color: $color-brand;
	            }
	        }
	    }
	}
}

footer {
	background-color: $color-brand;
	color: $white;
	padding: 40px 0;
	text-align: center;

	a {
		@include span (1 of 7);
		text-decoration: none;

		img {
			padding: 5px;
		}
	}
}