//--------------------------------------------------------------
// Structure and High-Level Elements
//--------------------------------------------------------------

section {
	@include clearfix;
	background-color: $white;
	display: block;
	width: 100%;
}

.container {
	@include clearfix;
	max-width: 300px;
	margin: 0 auto;

	@include breakpoint ($break-medium) {
		max-width: 450px;
	}

	@include breakpoint ($break-large) {
		max-width: 600px;
	}
}