//--------------------------------------------------------------
// Variables
//--------------------------------------------------------------

// -------------------
// Typography / Rhythm
// -------------------

$space: 20px;





// ------
// Colors
// ------

$white: #FFF;
$black: #000;
$color-brand: #88BEC4; 
$color-brand-secondary: #A9A9A9;





// -----
// Fonts
// -----

$font-default: 'Helvetica Neue', Helvetica, Arial, sans-serif;

$font-primary: 'Cookie', cursive;
$font-secondary: 'Poppins', sans-serif;





// -----------
// Breakpoints
// -----------

$break-small: 480px;
$break-medium: 720px;
$break-large: 960px;
$break-xl: 1800px;
$max-width: 1200px;





// ----
// Grid
// ----

$susy: (
	columns: 12,
	container: $max-width,
	gutters: 0,
);




